.user-container{
    color: #fff;

    width: 720px;
    height: 866px;
    margin: auto;
    top:25%;
    left:25%;
    
    margin-top: 100px;


/* black */

    background: #383636;
    border-radius: 10px;
}

.user-t{
    width: 100%;
    height: 70px;
    display: flex;
}
.user-text{
    
    margin-top: 24px;
    margin-left: 20px;
    font-size: 29px;
   
}

.white-line{
    background-color: white;
    width: 100%;
    height: 3px;
    margin-top: 13px;

}

.svg{
    width: 29px;
    height: 29px;
    margin-top: 24px;
    margin-left: 535px;
}

.cirkle{
    width: 135px;
    height: 135px;
    margin: auto;
    margin-top: 30px;




}

.text-form{
    width: 60px;
    height: 50px;
    margin-left: 30px;
    margin: auto;
    
}

.for-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}


.form {
    margin:  auto;
    justify-content: center;
    margin-top: 46px;
    width: 528px;
    height: 420px;
    
}



.lname{
    
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
 
    margin-right: 67px;
    
}

.iname{
    width: 328px;
    height: 54px;
    background: #383636;
/* fffff0 */

    border: 1px solid #FFFFF0;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 20px;
    
}

.iname1{
    width: 414px;
}
.iname2{
    width: 414px;
}
.iname3{
    width: 414px;
}
.iname4{
    width: 360px;
}
.iname5{
    width: 360px;
}

.w{
    margin-right: 67px;

}
.w2{
    margin-right: 36px;
    
}
.w3{
    margin-right: 67px;
    
}
.w4{
    margin-right: 35px;
    
}
.w5{
    margin-right: 51px;
    
}

.text-chan{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 38px;

    /* fffff0 */

   
}




.sum-save{
    width: 80px;
    height: 40px;
    display: block;
    margin: auto;
    /* fffff0 */

    border: 1px solid #FFFFF0;
    box-sizing: border-box;
    border-radius: 15px;
    color: #fff;
    background-color: #383636;
    font-size: 24px;
    

}

.sum-save:hover{
    cursor: pointer;
}