.password {
  padding: 100px 0;
  background: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  &-body {
    width: 100%;
    height: auto;
    background: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__title {
      font-style: normal;
      font-weight: normal;
      font-size: 64px;
      line-height: 96px;
      letter-spacing: 1px;
    }

    &-form {
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      &__input {
        width: 480px;
        height: 80px;
        margin-bottom: 20px;

        opacity: 0.5;
        outline: none;
        border: none;
        background: inherit;

        border: 2px solid $color-black;
        box-sizing: border-box;
        border-radius: 10px;
        color: $color-black;
        padding: 26px 20px;

        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        
        &:focus {
          opacity: 1;
        }
        &:invalid {
          opacity: 1;
        }

        &::-webkit-input-placeholder {
          color: $color-black;
          opacity: 0.5;
        }
        &:last-of-type {
          margin-bottom: 0px;
        }
      }
      &__btn {
        opacity: 0.8;

        justify-self: center;
        align-self: center;
        background: inherit;

        padding: 20px 40px;
        margin-top: 70px;

        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 54px;
        color: $color-black;

        border: 3px solid $color-black;
        box-sizing: border-box;
        border-radius: 10px;

        @include standartAnimate();
        &:hover {
          background: $color-black;
          color: $color-white;
        }
      }
    }
  }
}
